<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286648231344-hnjtd4gk5g7lktfltv2vnnjpvmsoh3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286648231344-hnjtd4gk5g7lktfltv2vnnjpvmsoh3rt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286648231344-74uu1kshrdb6nkg06r2n4tnjamvhvs2g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDoPpN-s1lvr4-w0YzA6TcR5jLoBHKTOw</string>
	<key>GCM_SENDER_ID</key>
	<string>286648231344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.staffCarparking</string>
	<key>PROJECT_ID</key>
	<string>parkx-22f01</string>
	<key>STORAGE_BUCKET</key>
	<string>parkx-22f01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286648231344:ios:64dbe89017f8fddc816275</string>
</dict>
</plist>